 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am a highly motivated front-end web developer living in Brooklyn, NY, with more than three years experience developing websites/web applications. I have a strong background hand-coding HTML5, CSS3, and SASS, developing Wordpress themes from the ground up, coding responsive layouts, and experience in Javascript, jQuery, and AngularJS. I love building my skills, both by staying up to date with new technologies and trends and learning from colleagues, and am looking forward to working in a team environment.</p>
                    <p>I am currently looking for work! Please see my <a href="https://github.com/dreLT" style="color: #2c3e50;">GitHub</a> and <a href="https://www.linkedin.com/in/andreleith" style="color: #2c3e50;">LinkedIn</a>, and feel free to reach me at <a href="mailto:andreleithnyc@gmail.com" style="color: #2c3e50;">andreleithnyc@gmail.com</a> or via the form below.</p>
                </div>
            </div>
        </div>
    </section>