    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <h1 class="name-heading">Andre Leith-Tetrault</h1>
                        <hr class="star-light">
                        <span class="skills">Front-End + UX/UI Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>